main {
  text-align: center;
}

.week {
  width: 1000px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.day {
  width: 138px;
  border: 2px solid black;
  display: inline-block;
}

.time {
  height: 77px;
  border: 2px solid black;
  /*display: inline-block;*/
}
